h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 35px;
    }

    body {
      color: white;
      background-image: url(https://imagizer.imageshack.com/v2/xq90/923/IOd3Gp.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;

    }

    .MyDiv {
      display: inline-block;
      background-color: black;
      text-align: center;
      color: white;
      font-size: 25px;
      border-radius: 10px;
      opacity: 65%;
    }

    p {
      text-align: right center;
    }

    h1 {
      text-align: center;
    }